<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/master.css?v=89" rel="stylesheet" />
    <title>Transfer Home | FAQs</title>
</head>

<body>
    <header class="container-fluid px-0">
        <h1 class="page-title">FAQs</h1>
    </header>
    <section class="container px-0">
        <div class="page-body px-3">
            <div class="accordion" id="THAFaqs">
                <div class="card">

                    <!--## ABOUT THE APP ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs1" aria-expanded=""
                         aria-controls="THAFaqs1">
                        <h5 class="mb-0">
                            ABOUT THE APP
                        </h5>
                    </div>
                    <div id="THAFaqs1" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">

                            <div class="sub-accordion" id="FAQs01">
                                <!--What is TransferHome?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs01q01" aria-expanded="false" aria-controls="FAQs01q01">
                                        <h4 class="sub-heading">What is TransferHome?</h4>
                                    </div>
                                    <div id="FAQs01q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs01">
                                        <div class="card-body">
                                            <p>
                                                TransferHome is an App that allows you to easily, securely and quickly
                                                send credit to
                                                most Pay As You Go phones worldwide without any unwanted processing
                                                fees.
                                            </p>
                                            <p>
                                                TransferHome is part of an established International telecoms company
                                                which is backed by
                                                over 500 of the best network providers and partners worldwide, allowing
                                                us to offer you
                                                the high-quality and trusted services that you are looking for.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--Is TransferHome safe? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs01q02" aria-expanded="false" aria-controls="FAQs01q02">
                                        <h4 class="sub-heading">Is TransferHome safe? </h4>
                                    </div>
                                    <div id="FAQs01q02" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs01">
                                        <div class="card-body">
                                            <p>
                                                Yes. TransferHome is secure and uses industry leading technology to
                                                protect your personal
                                                data and payments. We keep all your information safe. When you send a
                                                payment using
                                                TransferHome, the recipient won't receive any sensitive financial
                                                information like your
                                                credit card or bank account number etc. This way, you don't have to
                                                worry about
                                                transferring (topping up) mobile credit abroad.
                                            </p>
                                            <p>
                                                Moreover, any information you provide goes through a Secure Socket Layer
                                                (SSL); one of
                                                the safest and most widely used security protocols available on the web.
                                            </p>
                                            <p>
                                                When completing a transaction, we don't store any credit or debit
                                                information, it is
                                                stored with our secure payment processor which keeps your details safe
                                                set against PCI
                                                compliancy requirements set out by VISA, MasterCard etc. The terms &
                                                conditions and our
                                                privacy policy, which you agree to when registering, cover all our
                                                policies regarding
                                                personal information.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--## INSTALLING THE APP  ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs2" aria-expanded=""
                         aria-controls="THAFaqs2">
                        <h5 class="mb-0">
                            INSTALLING THE APP
                        </h5>
                    </div>
                    <div id="THAFaqs2" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">


                            <div class="sub-accordion" id="FAQs02">
                                <!--What devices are supported?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs02q01" aria-expanded="false" aria-controls="FAQs02q01">
                                        <h4 class="sub-heading">What devices are supported?</h4>
                                    </div>
                                    <div id="FAQs02q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs02">
                                        <div class="card-body">
                                            <p>
                                                The current version of TransferHome App supports the following devices:
                                            </p>
                                            <ul>
                                                <li><strong>iPhone:</strong> iOS 11.0 and above</li>
                                                <li><strong>Android Phones:</strong> Android 4.1 and above</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--How do I install TransferHome App on my iPhone?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs02q02" aria-expanded="false" aria-controls="FAQs02q02">
                                        <h4 class="sub-heading">How do I install TransferHome App on my iPhone?</h4>
                                    </div>
                                    <div id="FAQs02q02" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs02">
                                        <div class="card-body">
                                            <p>It’s easy! Just follow these steps:</p>
                                            <ol>
                                                <li>On your device, tap the App Store icon.</li>
                                                <li>Search for the app named TransferHome and select it.</li>
                                                <li>
                                                    Tap the button labelled FREE; this button will then change to say
                                                    Install.
                                                </li>
                                                <li>
                                                    Tap the button labelled Install (Note: You may be prompted to enter
                                                    your iTunes
                                                    password).
                                                </li>
                                                <li>
                                                    Once the installation is complete, TransferHome App should appear on
                                                    your iPhone’s
                                                    home screen.
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                                <!--How do I install the TransferHome App on my Android device?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs02q03" aria-expanded="false" aria-controls="FAQs02q03">
                                        <h4 class="sub-heading">
                                            How do I install the TransferHome App on my Android
                                            device?
                                        </h4>
                                    </div>
                                    <div id="FAQs02q03" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs02">
                                        <div class="card-body">
                                            <p>It’s easy! Just follow these steps:</p>
                                            <ol>
                                                <li>On your device, tap the Play Store icon.</li>
                                                <li>Search for the app named TransferHome and select it.</li>
                                                <li>
                                                    Tap the button labelled FREE; the button will then change to say OK.
                                                </li>
                                                <li>Tap the button labelled OK.</li>
                                                <li>
                                                    Once the installation is complete, TransferHome App should appear
                                                    with your
                                                    applications.
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                                <!--Can I use TransferHome App on my Android Tablet or Apple iPad?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs02q04" aria-expanded="false" aria-controls="FAQs02q04">
                                        <h4 class="sub-heading">
                                            Can I use TransferHome App on my Android Tablet or Apple
                                            iPad?
                                        </h4>
                                    </div>
                                    <div id="FAQs02q04" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs02">
                                        <div class="card-body">
                                            <p>You will be able to use TransferHome App for Tablet/ iPad very soon. </p>

                                        </div>
                                    </div>
                                </div>


                                <!--Can I install and use TransferHome App on multiple devices?  -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs02q05" aria-expanded="false" aria-controls="FAQs02q05">
                                        <h4 class="sub-heading">
                                            Can I install and use TransferHome App on multiple
                                            devices?
                                        </h4>
                                    </div>
                                    <div id="FAQs02q05" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs02">
                                        <div class="card-body">
                                            <p>
                                                Yes, you can. If you want to use different devices to transfer mobile
                                                credit you should:
                                            </p>
                                            <ol>
                                                <li>Download the app on all devices you want to use.</li>
                                                <li>
                                                    Sign up with your active phone number and get a unique PIN code.
                                                </li>
                                                <li>Use this PIN to login the App from other devices.</li>
                                                <li>
                                                    For security reasons you can only be logged in and use the App from
                                                    1 device at a
                                                    time. (If you login with 2nd device, the 1st one will be
                                                    automatically logged out)
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>


                                <!--How soon can I begin to use TransferHome App after installation?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs02q06" aria-expanded="false" aria-controls="FAQs02q06">
                                        <h4 class="sub-heading">
                                            How soon can I begin to use TransferHome App after
                                            installation?
                                        </h4>
                                    </div>
                                    <div id="FAQs02q06" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs02">
                                        <div class="card-body">
                                            <p>
                                                TransferHome App is ready to use once successfully installed on your
                                                device and you’ve
                                                signed up/ logged in.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!--## CREATING AN ACCOUNT  ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs3" aria-expanded=""
                         aria-controls="THAFaqs3">
                        <h5 class="mb-0">
                            CREATING AN ACCOUNT
                        </h5>
                    </div>
                    <div id="THAFaqs3" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">

                            <div class="sub-accordion" id="FAQs03">
                                <!--How can I sign up/ log in to TransferHome App?-->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs03q01" aria-expanded="false" aria-controls="FAQs03q01">
                                        <h4 class="sub-heading">How can I sign up/ log in to TransferHome App?</h4>
                                    </div>
                                    <div id="FAQs03q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs03">
                                        <div class="card-body">
                                            <p>The process is very simple and straightforward.</p>
                                            <ol>
                                                <li>Download TransferHome App from Google Play or App Store.</li>
                                                <li>Tap Sign Up/ Login.</li>
                                                <li>
                                                    You will receive a unique pin code via SMS to complete the set up of
                                                    your account
                                                </li>
                                                <li>
                                                    For security reasons, you can’t use the app on multiple devices at
                                                    the same time
                                                </li>
                                                <li>
                                                    You can log out from your TransferHome account manually. Tap the
                                                    More icon in the
                                                    bottom of the app
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!--## USING THE APP ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs4" aria-expanded=""
                         aria-controls="THAFaqs4">
                        <h5 class="mb-0">
                            USING THE APP
                        </h5>
                    </div>
                    <div id="THAFaqs4" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">

                            <div class="sub-accordion" id="FAQs04">
                                <!--How can I use my PIN? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q01" aria-expanded="false" aria-controls="FAQs04q01">
                                        <h4 class="sub-heading">How can I use my PIN? </h4>
                                    </div>
                                    <div id="FAQs04q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                When you sign up or login, you will be sent a unique safety PIN code to
                                                Log into your
                                                account.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--I forgot my PIN code. What should I do? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q02" aria-expanded="false" aria-controls="FAQs04q02">
                                        <h4 class="sub-heading">I forgot my PIN code. What should I do? </h4>
                                    </div>
                                    <div id="FAQs04q02" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                Don’t worry, you will receive an SMS with your unique PIN code each time
                                                you Login to
                                                your TransferHome account. Just follow these steps:
                                            </p>
                                            <ol>
                                                <li>Go to the Login page.</li>
                                                <li>
                                                    Enter the phone number you provided when you created your
                                                    TransferHome account.
                                                    Press the Login button.
                                                </li>
                                                <li>You will receive an SMS with your PIN code.</li>
                                            </ol>
                                            <p>
                                                <em>
                                                    If you don’t get your PIN code after a few attempts, you can contact
                                                    Customer Service
                                                    and request your PIN code.
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--What should I do if I don’t receive a PIN code? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q03" aria-expanded="false" aria-controls="FAQs04q03">
                                        <h4 class="sub-heading">What should I do if I don’t receive a PIN code? </h4>
                                    </div>
                                    <div id="FAQs04q03" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                Don’t worry, you will receive an SMS with your unique PIN code each time
                                                you Login to
                                                your TransferHome account. Just follow these steps:
                                            </p>
                                            <ol>
                                                <li>Go to the Login page.</li>
                                                <li>
                                                    Enter the phone number you provided when you created your
                                                    TransferHome account.
                                                    Press the Login button.
                                                </li>
                                                <li>You will receive an SMS with your PIN code.</li>
                                            </ol>
                                            <p>
                                                <em>
                                                    If you don’t get your PIN code after a few attempts, you can contact
                                                    Customer Service
                                                    and request your PIN code.
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--How can I transfer mobile credit? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q04" aria-expanded="false" aria-controls="FAQs04q04">
                                        <h4 class="sub-heading">How can I transfer mobile credit? </h4>
                                    </div>
                                    <div id="FAQs04q04" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                With TransferHome, you can instantly top up a Pay As You Go International
                                                mobile number
                                                in 3 easy steps:
                                            </p>
                                            <ol>
                                                <li>
                                                    Choose the mobile number from your contacts, favourites or use the
                                                    dial pad to enter
                                                    a phone number.
                                                </li>
                                                <li>Choose a package from the amounts on offer</li>
                                                <li>
                                                    Choose a method of payment. You can transfer money either from your
                                                    balance (if you
                                                    have enough credit) or you can use your debit/credit card or your
                                                    PayPal account.
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                                <!--Where can I transfer mobile credit? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q05" aria-expanded="false" aria-controls="FAQs04q05">
                                        <h4 class="sub-heading">Where can I transfer mobile credit? </h4>
                                    </div>
                                    <div id="FAQs04q05" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                You can transfer mobile credit to most Pay As You Go numbers in over 120
                                                countries
                                                worldwide. We work with over 500 network providers and partners,
                                                ensuring your transfer
                                                completes as expected.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--How long does it take for a mobile credit to be transferred?  -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q06" aria-expanded="false" aria-controls="FAQs04q06">
                                        <h4 class="sub-heading">
                                            How long does it take for a mobile credit to be
                                            transferred?
                                        </h4>
                                    </div>
                                    <div id="FAQs04q06" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                Mobile credit is transferred to a Pay As You Go phone number within a few
                                                seconds,
                                                although on rare occasions there can be a short delay on the operator’s
                                                side. In order
                                                to keep you updated, we will send you push notifications as soon as your
                                                top-up has been
                                                successfully processed or on the rare occasion it fails (please, make
                                                sure they are
                                                turned on within the app settings). You can also check for any completed
                                                and failed
                                                transactions by tapping on the History tab within the app.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--Can I top-up a phone that is roaming?  -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q07" aria-expanded="false" aria-controls="FAQs04q07">
                                        <h4 class="sub-heading">Can I top-up a phone that is roaming? </h4>
                                    </div>
                                    <div id="FAQs04q07" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                Yes. The top-up will be delivered to the phone wherever it is in the
                                                world.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--Where can I find the history of transfers?  -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs04q08" aria-expanded="false" aria-controls="FAQs04q08">
                                        <h4 class="sub-heading">Where can I find the history of transfers? </h4>
                                    </div>
                                    <div id="FAQs04q08" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs04">
                                        <div class="card-body">
                                            <p>
                                                You can find all the details from your transactions, including reference
                                                numbers with the
                                                date, time, amount and phone number you transferred to within the
                                                History tab found at
                                                the bottom of the app.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>

                    <!--## MY ACCOUNT ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs5" aria-expanded=""
                         aria-controls="THAFaqs5">
                        <h5 class="mb-0">
                            MY ACCOUNT
                        </h5>
                    </div>
                    <div id="THAFaqs5" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">


                            <div class="sub-accordion" id="FAQs05">
                                <!--How can I manage my push notification settings? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs05q01" aria-expanded="false" aria-controls="FAQs05q01">
                                        <h4 class="sub-heading">How can I manage my push notification settings? </h4>
                                    </div>
                                    <div id="FAQs05q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs05">
                                        <div class="card-body">
                                            <p>
                                                You may also get push notifications if you installed TransferHome Android
                                                or iOS mobile
                                                app. You can enable or disable these notifications from within the app
                                                settings.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--How can I manage my SMS notifications? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs05q02" aria-expanded="false" aria-controls="FAQs05q02">
                                        <h4 class="sub-heading">How can I manage my SMS notifications? </h4>
                                    </div>
                                    <div id="FAQs05q02" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs05">
                                        <div class="card-body">
                                            <p>
                                                You can control if you would like to be kept up to date and receive
                                                marketing messages
                                                when you sign up for a new account by using the checkbox “Tick box to
                                                receive offers,
                                                content and services from TransferHome and related products.”
                                            </p>
                                            <p>You can also manage your SMS notifications in My Account.</p>
                                            <P><strong>To find more:</strong></P>
                                            <p>
                                                <a href="https://support.apple.com/en-ie/HT201925#settings">
                                                    Manage push
                                                    notifications on
                                                    iOS
                                                </a>
                                            </p>
                                            <p>
                                                <a href="https://www.howtogeek.com/344431/how-to-disable-notifications-on-android/">
                                                    Manage
                                                    push notifications on Android
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--How can I add/delete numbers to Favourites? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs05q03" aria-expanded="false" aria-controls="FAQs05q03">
                                        <h4 class="sub-heading">How can I add/delete numbers to Favourites? </h4>
                                    </div>
                                    <div id="FAQs05q03" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs05">
                                        <div class="card-body">
                                            <p>There are few options available to add numbers to your Favourites:</p>
                                            <ol>
                                                <li>
                                                    The most popular numbers will be automatically added to your
                                                    favourites and the most
                                                    regular ones will appear in order of mostly used.
                                                </li>
                                                <li>
                                                    You can also manually add/remove numbers in your Favourites. Just
                                                    tap the ‘HEART’
                                                    Symbol next to the contact you want to add or remove. The heart will
                                                    turn yellow for
                                                    any added contacts and white for those not in favourites or removed.
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!--## FEES AND CHARGES ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs6" aria-expanded=""
                         aria-controls="THAFaqs6">
                        <h5 class="mb-0">
                            FEES AND CHARGES
                        </h5>
                    </div>
                    <div id="THAFaqs6" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">

                            <div class="sub-accordion" id="FAQs06">
                                <!--Are there any charges for using the TransferHome App? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs06q01" aria-expanded="false" aria-controls="FAQs06q01">
                                        <h4 class="sub-heading">
                                            Are there any charges for using the TransferHome App?
                                        </h4>
                                    </div>
                                    <div id="FAQs06q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs06">
                                        <div class="card-body">
                                            <p>
                                                The TransferHome App is completely free to download from Google Play and
                                                the App Store.
                                                There are no monthly charges or commitments associated with the app and
                                                there aren’t any
                                                processing fees for mobile credit transfers.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!--## PAYMENTS ##-->
                    <div class="card-header" id="" data-toggle="collapse" data-target="#THAFaqs7" aria-expanded=""
                         aria-controls="THAFaqs7">
                        <h5 class="mb-0">
                            PAYMENTS
                        </h5>
                    </div>
                    <div id="THAFaqs7" class="collapse" aria-labelledby="" data-parent="#THAFaqs">
                        <div class="card-body">


                            <div class="sub-accordion" id="FAQs07">
                                <!--In what currency I can transfer money? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs07q01" aria-expanded="false" aria-controls="FAQs07q01">
                                        <h4 class="sub-heading">In what currency I can transfer money? </h4>
                                    </div>
                                    <div id="FAQs07q01" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs07">
                                        <div class="card-body">
                                            <p>
                                                The currency of your account is automatically selected based on the
                                                origin of your mobile
                                                phone number that’s used to create your TransferHome account.
                                            </p>
                                            <ul>
                                                <li>Europe - Euro</li>
                                                <li>UK - GBP</li>
                                                <li>Rest of the world- USD </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--How can I change the currency in my account? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs07q02" aria-expanded="false" aria-controls="FAQs07q02">
                                        <h4 class="sub-heading">How can I change the currency in my account? </h4>
                                    </div>
                                    <div id="FAQs07q02" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs07">
                                        <div class="card-body">
                                            <p>
                                                The currency of your account is automatically selected based on the
                                                origin of your mobile
                                                phone number that’s used to create your TransferHome account. You can’t
                                                change it.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--In what currency will the recipient receive their mobile credit transfer? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs07q03" aria-expanded="false" aria-controls="FAQs07q03">
                                        <h4 class="sub-heading">
                                            In what currency will the recipient receive their mobile
                                            credit
                                            transfer?
                                        </h4>
                                    </div>
                                    <div id="FAQs07q03" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs07">
                                        <div class="card-body">
                                            <p>
                                                The recipient will receive their transfer in the local currency of
                                                his/her country.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--What types of payment can I use to send mobile credit? -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs07q04" aria-expanded="false" aria-controls="FAQs07q04">
                                        <h4 class="sub-heading">
                                            What types of payment can I use to send mobile credit?
                                        </h4>
                                    </div>
                                    <div id="FAQs07q04" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs07">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    You can top up your balance and use it anytime you need to transfer
                                                    money.
                                                </li>
                                                <li>You can transfer payments from your debit/credit card. </li>
                                                <li>You can transfer money from your PayPal account.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--How do you protect my credit card information?  -->
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#FAQs07q05" aria-expanded="false" aria-controls="FAQs07q05">
                                        <h4 class="sub-heading">How do you protect my credit card information? </h4>
                                    </div>
                                    <div id="FAQs07q05" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#FAQs07">
                                        <div class="card-body">
                                            <p>
                                                The information you submit within the TransferHome Mobile App is
                                                protected by the highest
                                                level of industry-standard SSL encryption.
                                            </p>
                                            <p>
                                                We don't store any credit or debit information from your transaction. Any
                                                information you
                                                submit via the TransferHome Mobile App is encrypted and stored within
                                                our secure payment
                                                processor. Your details are safely kept within the strict PCI compliant
                                                requirements set
                                                out by reliable Partners such as VISA, MasterCard, PayPal etc.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--JS-->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>