@{ 
    ViewData["Title"] = "Help";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/master.css?v=89" rel="stylesheet" />
    <title>Transfer Home</title>
</head>
<body>
    <header class="container-fluid px-0">
        <h1 class="page-title">Help TransferHome</h1>
    </header>
    <section class="container px-0">
        <div class="page-body">
            <p class="h5 font-weight-normal mb-3"> TransferHome is an easy to use, secure and reliable app that gives you the ability to transfer mobile credit to any pay as you go phone in the world.</p>
            <p>
                With no processing fees, complete transparency and highly competitive rates you’ll be getting the
                very best deals and ensuring that your family and friends are able to keep in touch with those who
                matter most.
            </p>
            <p>
                TransferHome is part of an established International telecoms company which is backed by over
                500+ of the best network providers and partners worldwide, allowing us to offer you the high-quality
                and trusted services that you are looking for.
            </p>
            <p>Stay connected with those who matter most. Do it easily and securely with TransferHome.</p>
        </div>
    </section>
    <!--JS-->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>