<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/master.css?v=89" rel="stylesheet" />
    <title>Transfer Home | Privacy Notice</title>
</head>
<body>
    <header class="container-fluid px-0">
        <h1 class="page-title">Privacy Notice</h1>
    </header>
    <section class="container px-0">
        <div class="page-body">
            <p>We recognise that protecting personal information is very important to you and that you have an interest in how we collect, use, store and share such information. We always respect our customers’ privacy and personal information and we take this matter very seriously. We have worked very hard to earn our customers’ trust and keeping it is our top priority. That’s why we comply with the obligations that are laid out under data protection laws.</p>
            <p>This privacy notice sets out how we, as a data controller, will use and protect your information. We will use your personal information only for the purposes and in the manner set out in this privacy notice. We recommend that you read this privacy notice carefully.</p>
            <p><strong>Please note:</strong> you have the right to object to the processing of your personal data where that processing is carried out for our legitimate interests or for direct marketing purposes.</p>
            <!--1. About us-->
            <h4 class="sub-heading">1. About us</h4>
            <p><a href="http://www.transferhome.org/">www.transferhome.org</a> and its subsidiary sites and any associated TransferHome© mobile applications, present or future, (each the “Applications”) are operated by, and the top-up services (and any other services available on the Applications from time to time) (“Services”) are provided by Nowtel Distribution Limited, Anchor Brewhouse, 50 Shad Thames, London, SE1 2LY, UK (“TransferHome©” “we” or “us”). We are registered in England and Wales with registered number 07408558 and we have our registered office at Anchor Brewhouse, 50 Shad Thames, London, SE1 2LY, UK. Our VAT number is 108347423. TransferHome© is a registered business name of Nowtel Distribution Limited.</p>
            <!--2. How can you get in contact with TransferHome©?-->
            <h4 class="sub-heading">2. How can you get in contact with TransferHome©?</h4>
            <p>If you have any questions about this privacy notice or any other queries or complaints, our customer care team is here to help – please contact us using one of the following options:</p>
            <p><strong>Email us:</strong> <a href="mailto:info@transferhome.co.uk">info@transferhome.co.uk</a></p>
            <!--3. Scope of TransferHome©’s privacy notice?-->
            <h4 class="sub-heading">3. Scope of TransferHome©’s privacy notice?</h4>
            <p>Personal data is information that identifies a person or can be used to identify a person. For us to provide our Services to you, we need to collect and process personal data about you. Without this information, we may not be able to provide our Services to you.</p>
            <p>This privacy notice will apply to personal data about you collected by us through the Applications or otherwise. It also applies to any third parties whose personal data you provide to us in respect of which we are a data controller. You acknowledge that you have informed any such third party that their personal data may be collected and processed by TransferHome© and made them aware of this privacy notice.</p>
            <p>Any changes to TransferHome©’s privacy notice will be posted clearly on our Applications.</p>
            <!--4. What data does TransferHome© collect?-->
            <h4 class="sub-heading">4. What data does TransferHome© collect?</h4>
            <p>We may collect and process the following information about you:</p>
            <p><strong>Contact Details:</strong> name; email address; telephone number; social media ID; Payment Details: cardholder name; credit or debit card details (however, we only retain certain parts); chargeback information; billing address (in limited circumstances); Paypal ID; Transaction Details: top-up transaction amount and currency; Electronic Identifying Details: IP address; SMS content; cookies; activity logs (e.g. user session recordings); online identifiers; device identifiers (e.g. the mobile device and/or the internet browser that you use) and geolocation data; Correspondence and complaints: any correspondence that you choose to send to TransferHome© (including complaints); any information you provide to our customer care team; any information you publish about TransferHome© (including on the app stores); Transaction History: details of the top-up transactions you carry out on, and your visits to, the Applications.</p>
            <p>If you choose to grant the mobile applications access to contact information through your device, we may collect this information, including names, telephone numbers, email addresses and social media identifiers. We use this information to help us deliver the Services to your contacts in the most efficient manner and for the other purposes listed below.</p>
            <p>For more information on the cookies we use, please see our Cookie Policy.</p>
            <!--5. How does TransferHome© collect your personal data?-->
            <h4 class="sub-heading">5. How does TransferHome© collect your personal data?</h4>
            <p>You provide us with your personal data when you register for or use our Services. We may also collect personal data about you from third parties (e.g. in the event of chargebacks or through third party direct marketing services). We also collect information about you through your use of our Applications, your visits to our Applications and details of the transactions you carry out on our Applications. When you visit our Applications, your device and/or browser may automatically disclose certain information (such as device type, operating system, browser type, browser settings, IP address, language settings, dates and times of connection to an Application or other technical communications information), some of which may constitute personal data.</p>
            <!--6. Why do we process your personal data and what is our legal basis for doing so?-->
            <h4 class="sub-heading">6. Why do we process your personal data and what is our legal basis for doing so?</h4>
            <p>Reasons for processing personal data;</p>
            <ul>
                <li>Legal Basis for processing your personal data;</li>
                <li>To help you purchase the Services that you have requested and to process any payment connected with that Services request;</li>
                <li>To deliver the Services that you have requested to the recipient of the Services. The use is necessary for the performance of a contract to which you are a party or in order to take steps at your request prior to entering a contract;</li>
                <li>To contact you if it's required in relation to the Services that you have sent or to reply to any communications that you might have sent us. The use is necessary for the performance of a contract to which you are a party or in order to take steps at your request prior to entering a contract;</li>
                <li>To provide you with information on products or services that might interest you.. The use is necessary for the purpose of our legitimate interests; </li>
                <li>To notify you about any changes to the Applications or Services. The use is necessary for the purpose of our legitimate interests; </li>
                <li>To ensure that content on the Applications is presented in the most effective manner for you and your device. The use is necessary for the purpose of our legitimate interests; </li>
                <li>To provide you with customer care. The use is necessary for the purpose of our legitimate interests;</li>
                <li>For marketing analysis. The use is necessary for the purpose of our legitimate interests;</li>
                <li>For security and fraud prevention purposes. The use is necessary for compliance with our legal obligations;</li>
                <li>To help improve our Applications and our Services. The use is necessary for the purpose of our legitimate interests. </li>
            </ul>
            <!--7. Do we carry out any automated processing of your personal data?-->
            <h4 class="sub-heading">7. Do we carry out any automated processing of your personal data?</h4>
            <p>We use automated statistical analysis of the personal data we collect about you in order to comply with our legal obligations to detect and prevent fraud, dishonesty and other crimes. We may use automated processing to screen for suspicious transactions, or to identify transactions that may be subject to international sanctions.</p>
            <p>When we make solely automated decisions that affect you in a legal or a significant way, you have the right to provide your point of view and have those decisions reviewed by a member of our staff.</p>
            <!--8. What happens if you do not provide us with your personal data?-->
            <h4 class="sub-heading">8. What happens if you do not provide us with your personal data?</h4>
            <p>If you do not provide us with your personal data or object to the use of certain personal data, we may not be able to provide the Services to you. We will tell you when we ask for information which is a contractual requirement or needed to comply with our legal obligations.</p>
            <!--9. Who do we disclose your personal data to?-->
            <h4 class="sub-heading">9. Who do we disclose your personal data to?</h4>
            <p>We currently share your personal data, where necessary, with the following recipients:</p>
            <ul>
                <li>you and, where you request, any third party you ask us to share it with; </li>
                <li>mobile operators (directly or via third parties); </li>
                <li>anti-fraud service providers; </li>
                <li>governmental, legal, regulatory, or similar authorities, on request or where required, including for the purposes of reporting any actual or suspected breach of applicable law or regulation;</li>
                <li>third party payment processors;</li>
                <li>direct marketing service providers; </li>
                <li>data analytics service providers (e.g. Google Analytics); </li>
                <li>third party service providers used for the delivery of some aspects of the Services (e.g. SMS delivery, email delivery, web notifications, app notifications and phone number lookup); </li>
                <li>hosting infrastructure companies based in the EEA; potential purchasers or bidders.</li>
            </ul>
            <p>Our Applications may, interface with third party services that you have previously interacted with (e.g. Facebook and Google), or contain links to third party content (e.g. mobile operator content). Please note that TransferHome© is not responsible for such services or content, or the privacy policies associated with those services or content. We recommend that you review any third party’s privacy policy before accessing such services or content.</p>
            <!--10. Does TransferHome© transfer your personal data outside the EEA?-->
            <h4 class="sub-heading">10. Does TransferHome© transfer your personal data outside the EEA?</h4>
            <p>TransferHome© may be required to transfer your personal data outside the EEA for the purposes of providing the Services. To ensure that your personal data receives an adequate level of protection and is treated securely, we have put the appropriate safeguards in place to protect the privacy and integrity of such personal data when being transferred outside the EEA (e.g. EU-approved standard contractual clauses / U.S. Privacy Shield / binding corporate rules).</p>
            <!--11. What if TransferHome© is bought by another company?-->
            <h4 class="sub-heading">11. What if TransferHome© is bought by another company?</h4>
            <p>We reserve the right to transfer information (including your personal data) to a third party in the event of a sale, merger, liquidation, receivership or transfer of all or substantially all of the assets of our company. The third party must only use your personal data for the purposes that you provided it to us in the first place and as set out in this privacy notice. You will be notified in the event of any such transfer.</p>
            <!--12. Data Security-->
            <h4 class="sub-heading">12. Data Security</h4>
            <p>We have implemented appropriate technical and organisational security measures designed to protect your personal data against accidental or unlawful destruction, loss, alteration, unauthorised disclosure, unauthorised access, and other unlawful or unauthorised forms of Processing, in accordance with data protection laws.</p>
            <p>You are responsible for ensuring that any personal data that is sent to us is sent securely.</p>
            <!--13. How long do we keep your personal data?-->
            <h4 class="sub-heading">13. How long do we keep your personal data?</h4>
            <p>We will keep your personal data only for so long as is necessary to carry out the purposes set out above and to comply with any legal obligations. The criteria for determining the duration for which we retain your personal data are whether it is necessary:</p>
            <p>to maintain an ongoing relationship with you (e.g. to provide our Services to you or where you are lawfully included in our direct marketing lists and have not unsubscribed); in connection with the lawful purposes set out in this policy, or where we have a valid legal basis; or to comply with any applicable limitation period under applicable law, and a reasonable amount thereafter.</p>
            <p>Once the periods above have concluded, we will either:</p>
            <ul>
                <li>permanently delete or destroy the relevant personal data; </li>
                <li>archive your personal data so that it is beyond use;  </li>
                <li>or anonymise the relevant personal data.</li>
            </ul>
            <!--14. Where does TransferHome© hold your personal data?-->
            <h4 class="sub-heading">14. Where does TransferHome© hold your personal data?</h4>
            <p>Your personal data is held by us on secure servers which are hosted by TransferHome© or by a third party hosting infrastructure company located within the EEA.</p>
            <!--15. Your Rights-->
            <h4 class="sub-heading">15. Your Rights</h4>
            <p>You have a right to obtain a copy of, and the right to rectify any inaccuracies in, the personal data we hold about you by making a request to us in writing. You also have the right to request erasure, restriction, portability, or object to the processing, of your personal data or not to be subject to a decision based on automated processing, including profiling. You should inform us of any changes to your personal data. Any requests made under this section can be made using the contact details set out below. We will respond to your request in writing, or orally if requested, as soon as practicable and in any event not more than one month after receipt of your request. You have the right to lodge a complaint with the Information Commissioners Office if unhappy with how your personal data is being handled by us. Their contact details are as follows:</p>
            <address>
                Information Commissioners Office <br />
                Wycliffe House <br />
                Water Ln <br />
                Wilmslow <br />
                SK9 5AF <br />
                UK <br />
                Telephone: +44 (0) 303 123 1113
            </address>
            <p>If we are relying on your consent to allow us to process your information, you can withdraw your consent at any time. From that point on we would no longer be able to carry out the processing we were carrying out with your consent. Any processing we carried out before you withdrew your consent would remain valid. We do not generally rely on consent for processing personal data.</p>
            <p>Please contact us at <a href="mailto:hello@transferhome.org">hello@transferhome.org</a> or at TransferHome©, Anchor Brewhouse, 50 Shad Thames, London,SE1 2LY, UK to exercise any of your rights under this section.</p>
            <!--16. Will TransferHome© use your personal data for direct marketing purposes?-->
            <h4 class="sub-heading">16. Will TransferHome© use your personal data for direct marketing purposes?</h4>
            <p>Where we have your consent to do so, we will use your personal data to send you information by SMS, email or app notifications relating to our products and services which may be of interest to you or similar products and services to those you have previously purchased from TransferHome©.</p>
            <!--17. Can you opt-out/unsubscribe from direct marketing?-->
            <h4 class="sub-heading">17. Can you opt-out/unsubscribe from direct marketing?</h4>
            <p>You will be provided with an opportunity to opt-in at the point of registration. You can also opt-out at any time, free of charge, by using the unsubscribe facility in the section ‘More’, ‘Notifications’ of the App. You can always contact Customer service if you face any issues or problems by sending an email to <a href="mailto:info@transferhome.org">info@transferhome.org</a>.</p>
        </div>
    </section>
    <!--JS-->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>