@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TransferHome.org</h1>
    <p>See </p>

    <ul>
        <li><a href="About">About</a></li><br />
        <li><a href="FAQ">FAQ</a></li><br />
        <li><a href="Help">Help</a></li><br />
        <li><a href="Privacy">Privacy</a></li><br />
        <li><a href="Terms">Terms</a></li>
    </ul>
</div>
